.bible-dropdown-container {
    width: 200px;
    float: left;
    margin-right: 20px;
}
.float-container {
    overflow: hidden;
}
.ms-Dropdown-items {
    max-height: 200px;
}

@media only screen and (max-width: 75em) {
    .ms-Dropdown-items {
        max-height: none;
    }
}